<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ book.title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>{{ book.title }}</h1>
    <p><strong>Author:</strong> {{ book.author }}</p>
    <p><strong>Published Date:</strong> {{ book.published_date }}</p>
    <p><strong>ISBN:</strong> {{ book.isbn }}</p>
    <p><strong>Quantity:</strong> {{ book.quantity }}</p>
    <a href="{% url 'book_update' book.pk %}">Edit</a>
    <a href="{% url 'book_delete' book.pk %}">Delete</a>
    <a href="{% url 'book_list' %}">Back to Book List</a>
</body>
</html>